<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8">
	<title>Students</title>
	<script src="./bower_components/jquery/dist/jquery.min.js"></script>
	<!--<link href="./lib/bootstrap-3.3.7.min.css" rel="stylesheet">-->
	<!--<script src="./lib/bootstrap-3.3.7.min.js"></script>-->

	<!--<script src="./lib/angular-1.6.2.min.js"></script>-->
	<!--<script src="./lib/angular-cookies-1.6.2.min.js"></script>-->
	<link rel="stylesheet" href="./bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="./bower_components/angular-material-data-table/dist/md-data-table.min.css">

    <!-- Angular 1.6.3 -->
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="./bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="./bower_components/angular-cookies/angular-cookies.min.js"></script>

	<!-- Angular Material Scripts -->
	<script src="./bower_components/angular-material/angular-material.min.js"></script>
    <script src="./bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>

    <!-- Angular App -->
	<script src="content.js"></script>
	<link href="index.css" rel="stylesheet">
</head>

<body ng-app="studentsApp" ng-controller="studentsCtrl" ng-cloak>

    <div layout="row">
        <md-content layout="column" class="md-padding" flex-offset="15" flex="70">
            <md-toolbar md-scroll-shrink>
                <div class="md-toolbar-tools">Students</div>
            </md-toolbar>

            <md-tabs md-dynamic-height md-border-bottom md-selected-nav-item="currentNavItem">
                <md-tab label="table" name="table-page">

                    <md-table-container>
                        <table md-table md-row-select ng-model="selected">
                            <thead md-head>
                                <tr md-row>
                                    <th md-column ng-repeat="header in tblSpec.order">{{tblSpec.labels[header]}}</th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row md-auto-select md-select="student" md-select-id="student.id" ng-repeat="student in students">
                                    <td md-cell ng-repeat="data in studentToRow(student)">{{data}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>

                    <div layout="row">
                        <md-button flex="20" class="md-raised" ng-disabled="!selected[0]" ng-click="showEditDialog($event, selected[0])">Edit Student</md-button>
                        <md-button flex="20" class="md-raised" ng-disabled="!selected[0]" ng-click="deleteStudent(selected[0])">Delete Student</md-button>
                    </div>
                </md-tab>
                <md-tab label="tiles" name="tiles-page">

                    <div layout="row">
                        <div layout="column" flex="33" ng-repeat="i in [2,1,0]">
                            <md-card ng-repeat="student in students.slice(i * students.length / 3, (i + 1) * students.length / 3)">
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">{{student.fname + ' ' + student.lname}}</span>
                                        <span class="md-subhead">
                                            {{nameForYear(student.year)}}<br>
                                            Started: {{formatDate(student.startDate, "MDY")}}<br>
                                            Phone: {{student.phone}}<br>
                                            {{student.street}}<br>
                                            {{student.city}}, {{student.state}} {{student.zip}}<br>
                                        </span>
                                    </md-card-title-text>
                                    <md-card-title-media>
                                        <div layout-padding class="md-media-md card-media">
                                            <img src="http://lorempixel.com/80/80/">
                                        </div>
                                    </md-card-title-media>
                                </md-card-title>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button ng-click="showEditDialog($event, student)">Edit</md-button>
                                    <md-button ng-click="deleteStudent(student)">Delete</md-button>
                                </md-card-actions>
                            </md-card>
                        </div>
                    </div>

                </md-tab>
            </md-tabs>

            <div layout="row">
                <md-button flex="20" ng-click="showEditDialog($event)" id="add-button" class="md-raised">Add Student</md-button>
                <md-button flex="20" ng-click="restoreStudent()" id="restore-button" class="md-raised" ng-disabled="deletedStudents.length === 0">Restore Student</md-button>
            </div>

            <pre>{{selected | json}}</pre>

        </md-content>
    </div>

</body>
</html>
